/* header{
  background: #61d4e2;
} */

h1{
  margin: 20px auto;
  font-size:50px;
  letter-spacing: 5px;
  color: #61d4e2
}

body{
  line-height: 2;
  background: #f7efed;
  text-align: center;
  margin: 0px auto;
  font-family: 'Kosugi Maru', sans-serif;
  transition: all 1s;
}

body {
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}

@-webkit-keyframes fadeIn {
    0% {opacity: 0}
    100% {opacity: 1}
}


body::after {
  pointer-events: none;
  opacity: 0;
  -webkit-transition: opacity .8s ease;
  transition: opacity .8s ease;
}

body.fadeout::after {
  opacity: 1;
}

/*.bodyfadeout {
    opacity: 0;
}

.bodyfadein{
    opacity: 0;
    opacity: 1;
}*/

div{
  margin-right: 0px;
  letter-spacing: 0px;
  font-size:20px;
  color: #33546d
}

.image{
  width: 100%;
  text-align: left;
  /*margin-top: 200px auto;*/
  position: relative;
}
.image0{
  width: 100%;
  position: absolute;
  /*margin-top: 200px auto;*/
}
.image1{
  width: 100%;
  display: none;
  position: absolute;
  /*margin-top: 200px auto;*/
}

.col3 {
  display: flex;
}

.col3 div {
  width: calc(100% / 3);
  height: 700px;
  background: #f7efed

}

/*.description{
  margin-top: 30px;
}*/

button{
  margin: 20px auto;
  position: relative;
  display: inline-block;
  font-family: 'Kosugi Maru', sans-serif;
  font-weight: bold;
  font-size:20px;
  padding: 20px 100px ;
  text-decoration: none;
  color: #FFF;
  background: #7fa7b8;
  border-radius: 10px;
  transition: .4s;
}

button:hover {
  background: #f1485b;
}

/*onclick{
    animation: fadeIn 2s ease 0s 1 normal;
    -webkit-animation: fadeIn 2s ease 0s 1 normal;
}

@keyframes fadeOut {
    100% {opacity: 1}
    0% {opacity: 0}
}

@-webkit-keyframes fade0ut {
    100% {opacity: 1}
    0% {opacity: 0}
}*/

/*.footer{
  color: #33546d;
}*/

.copyright{
  font-size:20px;
  letter-spacing: 0px;
}
