body{
  line-height: 2;
  background: #f7efed;
  text-align: center;
  margin: 20px auto;
  font-family: YuGothic,'Yu Gothic',sans-serif;
}

h1{
  margin: 20px auto;
  font-size:50px;
  color: #61d4e2
}

div{
  margin-right: 0px;
  letter-spacing: 10px;
  font-size:20px;
  color: #33546d
}

main{
  margin-top: 20px auto;
}

.images{
  width: 60%;
  text-align: right;
  margin: 0px auto;
}

.col3 {
  display: flex;
}

.col3 div {
  width: calc(100% / 3);
}

.btn1 {
  margin: 20px auto;
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 20px 100px ;
  text-decoration: none;
  color: #FFF;
  background: #7fa7b8;
  border-radius: 10px;
  transition: .4s;
}

.btn1:hover {
  background: #f1485b;
}

.footer{
  color: #33546d;
}

.copyright{
  font-size:20px;
  letter-spacing: 0px;
}
